<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">有遇到下面的問題嗎？</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>找不到人問問題嗎？</h3>
                    <p class="text-muted">這裡有一大群的台大老師等著幫你解答。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>明天就要考試怎麼辦？</h3>
                    <p class="text-muted">我們使用 AI 搜尋題目，即時提供解答。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>解答看不懂嗎？</h3>
                    <p class="text-muted">我們提供互動式的解答，再難的題目也能輕鬆解決。</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>書太多念不完嗎？</h3>
                    <p class="text-muted">我們使用 AI 推薦系統，找出哪些題目需要複習。</p>
                </div>
            </div>
        </div>
    </div>
</section>
